/* line 5, ../sass/offline-language-german-indicator.sass */
.offline-ui-bot.offline-ui-bot-up .offline-ui-bot-content:before {
    content: "Online";
}
/* line 10, ../sass/offline-language-german-indicator.sass */
.offline-ui-bot.offline-ui-bot-down .offline-ui-bot-content:before {
    content: "Offline";
}

/* line 3, ../sass/_offline-theme-base-indicator.sass */
.offline-ui-bot, .offline-ui-bot *, .offline-ui-bot:before, .offline-ui-bot:after, .offline-ui-bot *:before, .offline-ui-bot *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* line 6, ../sass/_offline-theme-base-indicator.sass */
.offline-ui-bot {
    position: fixed;
    background: white;
    z-index: 2000;
    display: inline-block;
}
/* line 13, ../sass/_offline-theme-base-indicator.sass */
.offline-ui-bot .offline-ui-bot-retry {
    display: none;
}
/* line 16, ../sass/_offline-theme-base-indicator.sass */
.offline-ui-bot.offline-ui-bot-up {
    display: block;
}
/* line 19, ../sass/_offline-theme-base-indicator.sass */
.offline-ui-bot.offline-ui-bot-down {
    display: block;
}

/* line 8, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui-bot {
    -webkit-border-radius: 0px 4px 0 0;
    -moz-border-radius: 0px 4px 0 0;
    -ms-border-radius: 0px 4px 0 0;
    -o-border-radius: 0px 4px 0 0;
    border-radius: 0px 4px 0 0;
    font-family: "Lucida Grande", sans-serif;
    font-size: 12px;
    padding: 7px;
    background: #343a40;
    color: #888888;
    bottom: 65px;
    left: 0;
}
/* line 19, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui-bot .offline-ui-bot-content {
    padding-left: 16px;
}
/* line 22, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui-bot .offline-ui-bot-content:after {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 1px;
    left: 8px;
    margin: auto;
    height: 9px;
    width: 9px;
}
/* line 36, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui-bot.offline-ui-bot-up .offline-ui-bot-content:after {
    background: #80d580;
}
/* line 41, ../sass/offline-theme-chrome-indicator.sass */
.offline-ui-bot.offline-ui-bot-down .offline-ui-bot-content:after {
    background: #ec8787;
}