.size-hole-window {
    height: 100vh;
}

.center-horz {
    margin-left: auto !important;
    margin-right: auto !important;
}

.center-vert {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.gradientDivMasterpassword {
    opacity: 1.0;
    background: linear-gradient(to right, rgba(256, 256, 256, 0.0), rgba(157, 212, 241, 0.5));
}

.backgroundPicMasterpassword {
    background-image: url("../../img/masterpassword.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.card-login {
    border: 0;
    border-radius: 1em;
}