
/* The fast way */
.pass-card {
    border: 1px solid rgba(248, 249, 250, 0.12);
    box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
    overflow: hidden;
    /*box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.15) !important;*/

    /* Margin */
    margin-top: 15px;
    margin-bottom: 15px;
}

.pass-card img {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
}


/* Pre-render the bigger shadow, but hide it */
.pass-card:after {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.25);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

/* Transition to showing the bigger shadow on hover */
.pass-card:hover {
    box-shadow: 5px 10px 20px 1px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease-in-out;
}

.pass-card:hover img {
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;
}